# node_modules directory - dependency directories 
node_modules/

# environment-specific files 
.env            #ignore the .env file 
.env.local      #ignore the .env.local files 
.env.*          #ignore any .env.* files (e.g., .env.development, .env.production)
.env

# build output directories
build/
dist/
out/

# IDE and editor files 
.vscode/
.idea/
*./sublime-project
*.sublime-workspace 
.vs/

# operating system 
.DS_Store 
Thumbs.db
.cache/

# log & temporary files 
logs/
temp/
*.log
*.tmp 

# personal configuration files
.config/